*{
    margin: 0px;
    padding: 0px 0px 0px 3px;
}
h1{
    font-size: 4.5em;
    font-weight: 400;
    margin-top: 0.2em;
    margin-bottom: 0.2em;

}
p{
    margin: 0px 0px 8px;
    font-size: 1.5em;
    font-weight: 400;
}

h3{
    font-size: 1.5em;
    font-weight: 400;
}
